@use "../../styles/variables.scss" as *;

.landingPage {
  padding-top: $nav-height;

  h2 {
    text-align: center;
  }
}

.moviesSection {
  width: 100vw;
  padding: 0 5vw;
  display: grid;
  gap: 2rem;
}
