$font-primary: "Roboto", system-ui, Helvetica, Arial, sans-serif;
$line-height: 1.5;
$font-weight: 400;
$font-size-base: 1rem;

$text-color: black;
$background-color: #f0f0f0;
$primary-color: #fe6740;

$box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

$nav-height: 4rem;

$border-radius: 0.5rem;
$tablet: 768px;
$desktop: 1280px;
$large-desktop: 1920px;
