@use "../../styles/variables" as *;

.movieCardButtonContr {
  all: unset;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: transparent;
    scale: 1.01;
  }
}

.movieCard {
  width: 90vw;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  overflow: hidden;
}

.content {
  display: grid;
  grid-template-rows: max-content max-content 1fr max-content;
  padding: 0 1rem;
  padding-bottom: 0.5rem;
  overflow: hidden;
  h3 {
    margin: 0;
    overflow: auto;
    height: 5rem;
  }
}

.additionalInfo {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  align-items: center;
}

.voteContainer {
  display: grid;
  justify-items: center;
}

.overview {
  overflow: auto;
  height: 5.5rem;
}

.genres {
  display: flex;
  overflow-x: auto;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}

.genre {
  background-color: rgb(173, 209, 210);
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
  text-wrap: nowrap;
}

@media (min-width: 768px) {
  .movieCardButtonContr {
    width: 100%;
  }

  .movieCard {
    display: grid;
    width: 100%;
    height: 100%;
  }

  .content {
    font-size: x-large;
  }

  .genres {
    width: 100%;
  }
  .genre {
    padding: 0.1rem 1.5rem;
  }
}

@media (min-width: 1366px) {
}

@media (min-width: 1920px) {
}
